<settings>
	<category label="General">
		<setting id="maxBitRate" type="enum" label="Audio Bitrate" values="Auto|Very Low (32 Kbps)|Low (64 Kbps)|Medium (128 Kbps)|High (256 Kbps)|Very High (320 Kbps)" default="3"/>
		<setting label="Cache Timeout in hours" type="number" id="timeout" default="1"/>
		<setting id="forceView" type="bool" label="Force View Mode" default="false"/>
		<setting id="viewMode" type="number" label="Mode" visible="eq(-1,true)" enable="!eq(-1,)" default="500"/>
	</category>
    <category label="Languages">
        <setting id="Tamil" type="bool" label="Tamil" default="true"/>
		<setting id="Carnatic" type="bool" label="Carnatic" default="true"/>
		<setting id="Telugu" type="bool" label="Telugu" default="true"/>
		<setting id="Malayalam" type="bool" label="Malayalam" default="true"/>
		<setting id="Kannada" type="bool" label="Kannada" default="true"/>
		<setting id="Hindi" type="bool" label="Hindi" default="true"/>
		<setting id="Urdu" type="bool" label="Urdu" default="true"/>
		<setting id="Hindustani" type="bool" label="Hindustani" default="true"/>
		<setting id="Punjabi" type="bool" label="Punjabi" default="true"/>
		<setting id="Bengali" type="bool" label="Bengali" default="true"/>
		<setting id="Marathi" type="bool" label="Marathi" default="true"/>
		<setting id="Gujarati" type="bool" label="Gujarati" default="true"/>
		<setting id="Assamese" type="bool" label="Assamese" default="true"/>
		<setting id="Bhojpuri" type="bool" label="Bhojpuri" default="true"/>
		<setting id="Odia" type="bool" label="Odia" default="true"/>
		<setting id="Rajasthani" type="bool" label="Rajasthani" default="true"/>
		<setting id="Haryanvi" type="bool" label="Haryanvi" default="true"/>
		<setting id="English" type="bool" label="English" default="true"/>
    </category>
</settings>
